:root {
  --color-primary: rgb(53, 21, 132);
  --color-secondary: rgb(29, 29, 29);
}

/* Standar configs */
* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* text */
.text-primary {
  color: var(--color-primary) !important;
}

h1,
h2,
h3,
small {
  color: var(--color-primary);
}

/* Background */
.bg-dark {
  background-color: black !important;
}

.bg-secondary {
  background-color: var(--color-secondary) !important;
}

/* section */
#Main {
  background-image: url(../public/images/bgAboutMe.jpg);
}

#Shop {
  background-image: url(../public/images/bgShop.jpg);
}

#Footer {
  background-image: url(../public/images/bgFooter.jpg);
  background-repeat: inherit;
}

/* efects */
.glass {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.shadowInset {
  -webkit-box-shadow: inset -6px 55px 128px 22px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset -6px 55px 128px 22px rgba(0, 0, 0, 1);
  box-shadow: inset -6px 55px 128px 22px rgba(0, 0, 0, 1);
}

.shadowInset-l {
  -webkit-box-shadow: inset 0px 0px 102px -14px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 102px -14px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 102px -14px rgba(0, 0, 0, 1);
}

.cardImg {
  height: 300px;
}

.card:hover {
  transform: scale(1.1);
}

/* buttoms */
.btn-info {
  background-color: var(--color-secondary) !important;
}

.btn-info:hover {
  background-color: var(--color-primary) !important;
}

.btn-success {
  background-color: var(--color-primary) !important;
  border-color: var(--color-secondary);
}

.btn-cart {
  background-image: linear-gradient(to right top, #8d4797, #8653a9, #7b5eba, #6b6aca, #5376d8);
  border-color: var(--color-secondary);
}

.btn-cart:hover {
  background-image: linear-gradient(to left bottom, #b875c2, #a385d2, #8e94da, #7ea0dd, #75aada);
  border-color: var(--color-secondary);
}

.btn-success:hover {
  background-color: var(--color-secondary) !important;
  border-color: var(--color-primary);
}

.border-purple {
  border-color: var(--color-primary);
}
/* Animation */
.item {
  position: relative;
}

.item:before {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all .3s;
}

.item:hover:before {
  width: 100%;
}

.animation:before {
  left: 50%;
}

.animation:hover:before {
  left: 0;
}
